.financial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  height: 100px;
  background-color: white;
  border-radius: 12px;
}

.financial-card .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px!important;
}